html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

ul li,
ol li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}




.hidden{visibility: hidden;}
.clear{clear:both;}


.margin5{margin:5px;}
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}
.margin25{margin:25px;}
.margin30{margin:30px;}

.mleft5{margin-left:5px;}
.mleft10{margin-left:10px;}
.mleft15{margin-left:15px;}
.mleft20{margin-left:20px;}
.mleft25{margin-left:25px;}
.mleft30{margin-left:30px;}

.mright5{margin-right:5px;}
.mright10{margin-right:10px;}
.mright15{margin-right:15px;}
.mright20{margin-right:20px;}
.mright25{margin-right:25px;}
.mright30{margin-right:30px;}

.mupdown5{margin:5px 0;}
.mupdown10{margin:10px 0;}
.mupdown15{margin:15px 0;}
.mupdown20{margin:20px 0;}
.mupdown30{margin:30px 0;}

.mtop5{margin-top:5px;}
.mtop10{margin-top:10px;}
.mtop15{margin-top:15px;}
.mtop20{margin-top:20px;}
.mtop25{margin-top:25px;}
.mtop30{margin-top:30px;}

.mbottom5{margin-bottom:5px;}
.mbottom10{margin-bottom:10px;}
.mbottom15{margin-bottom:15px;}
.mbottom20{margin-bottom:20px;}
.mbottom25{margin-bottom:25px;}
.mbottom30{margin-bottom:30px;}

.floatleft{float:left;}
.floatright{float:right;}

.floatleftm5{float:left; margin:5px;}
.floatrightm5{float:right; margin:5px;}
.floatleftm10{float:left; margin:10px;}
.floatrightm10{float:right; margin:10px;}
.floatrightm20{float:right; margin:20px;}

.textleft{text-align:left !important;}
.textcenter{text-align:center !important;}
.textright{text-align:right !important;}


.kome{
	text-indent:-1em;
	padding-left:1em;
}

td ol,td ul{
margin:0;
padding:0;
margin-left:1.5em;
}

/*****CLEARFIX START*****/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content: " "; 
	clear: both; 
	height: 0; 
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */ 

/*****CLEARFIX END*****/